{% extends 'base.html.twig' %}
{% block title %}Choose pattern{% endblock %}
{% block body %}
    <div>
        <p><a href="patternStrategy">Strategy</a></p>
        <p><a href="patternObserver">Observer</a></p>
        <p><a href="patternFactoryMethod">Factory Method</a></p>
        <p><a href="patternIterator">Iterator</a></p>
        <p><a href="patternBuilder">Builder</a></p>
        <p><a href="patternAbstractFactory">Abstract Factory</a></p>
    </div>
 {% endblock %}
