{% extends 'base.html.twig' %}
{% block title %}Choose pattern{% endblock %}
{% block body %}
    <div>
        <a href="patternStrategy">Strategy</a>
        <a href="patternObserver">Observer</a>
        <a href="patternFactoryMethod">Factory Method</a>
        <a href="patternIterator">Iterator</a>
        <a href="patternBuilder">Builder</a>
    </div>
 {% endblock %}
