{% extends 'base.html.twig' %}
{% block title %}Patterns{% endblock %}
{% block body %}
    <div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
